@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy-Reg";
  src: url("./Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-Med";
  src: url("./Gilroy-Medium.ttf");
}
